/*

- FONT SIZE(px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 07 WHITESPACE(px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

// ---------- VARIABLES ---------- //
:root {
  // FONTS
  --font-primary: 'Inter';

  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3.6rem;
  --font-size-xlg: 6.2rem;

  --font-weight-light: 100;
  --font-weight-xmedium: 400;
  --font-weight-medium: 400;
  --font-weight-bold: 600;

  // COLORS
  --color-primary: #ebedec;
  --color-secondary: #919e9e;
  --color-tertiary: #829f9a;

  // WHITESPACE
  --ws-sm: 1.2rem;
  --ws-md: 2.4rem;
  --ws-lg: 3.2rem;
  --ws-xlg: 6.4rem;

  --height: 100vh;
}

// ---------- MIXINS ---------- //
@mixin respond($bp) {
  @if $bp == tab-land {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $bp == tab-por {
    @media only screen and (max-width: 45em) {
      @content;
    }
  }

  @if $bp == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
}

// ---------- EXTENDS ---------- //
%flexColumn {
  display: flex;
  flex-direction: column;
}

%blurBackground {
  backdrop-filter: blur(2rem);
  background-color: rgba(0, 0, 0, 0.35);
}

// ---------- BASE ---------- //
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  // Media-Querie for Tab-land
  @include respond(tab-land) {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  font-family: var(--font-primary), sans-serif;
  font-weight: var(--font-weight-medium);
  line-height: 1;

  // Media-Querie for Phone
  // @include respond(phone) {
  //   position: relative;
  // }
}

// ---------- WEATHER APP ---------- //
.weather {
  width: 100%;
  min-height: var(--height);
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;

  position: relative;
  display: flex;

  // Media-Querie for Phone
  @include respond(phone) {
    flex-direction: column;
  }

  // IMAGE BACKGROUND
  &__img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
  }
}

// --- DESCRIPTION SECTION --- //
.weather {
  &__description-box {
    padding: var(--ws-xlg);

    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: var(--ws-md);

    // Media-Querie for Tab-por
    @include respond(tab-por) {
      padding: var(--ws-md);
    }

    // Media-Querie for Phone
    @include respond(phone) {
      flex: 1;
    }
  }

  &__logo {
    color: inherit;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.75px;
    text-decoration: none;
  }
}

.weahter__clock {
  &--time {
    font-size: 6.2rem;
    font-weight: var(--font-weight-xmedium);

    // Media-Querie for Phone
    @include respond(phone) {
      font-size: 5.2rem;
    }
  }

  &--day,
  &--date {
    font-weight: var(--font-weight-light);
  }

  &--day {
    font-size: 8.6rem;
    text-transform: uppercase;
    letter-spacing: -5px;

    // Media-Querie for Phone
    @include respond(phone) {
      font-size: 7.6rem;
    }
  }

  &--date {
    font-size: 7.4rem;

    // Media-Querie for Phone
    @include respond(phone) {
      font-size: 6.4rem;
    }
  }
}

.weather {
  &__title-container {
    margin-top: auto;
  }

  &__title {
    font-weight: var(--font-weight-medium);

    display: flex;
    align-items: flex-end;

    // Media-Querie for Phone
    @include respond(phone) {
      padding-bottom: var(--ws-md);
    }
  }

  &__temp {
    margin-right: var(--ws-sm);
    font-size: 9.8rem;
    line-height: 0.8;

    // Media-Querie for Phone
    @include respond(phone) {
      font-size: 8.8rem;
    }
  }

  &__location {
    margin-right: var(--ws-md);
    font-size: var(--font-size-xlg);
    font-weight: var(--font-weight-bold);
    letter-spacing: -2px;
    line-height: 0.85;

    // Media-Querie for Phone
    @include respond(phone) {
      font-size: 5.2rem;
    }
  }

  // &__condition {
  //   font-size: var(--font-size-md);

  //   @extend %flexColumn;
  //   align-items: center;
  //   gap: 4px;
  // }

  // &__icon {
  //   width: 4.8rem;
  //   height: 4.8rem;
  //   mask-image: url(../img/svg/rain.svg);
  //   mask-size: cover;
  //   background-color: var(--color-primary);
  //   background-image: none;
  // }
}

// --- SEARCH AND INFO SECTION --- //
.weather {
  &__info {
    flex: 1;
    @extend %blurBackground;

    // Media-Querie for Phone
    @include respond(phone) {
      margin-top: auto;
      border-radius: 12px 12px 0 0;

      flex: 0;
      position: relative;
    }

    &--container {
      color: var(--color-secondary);
      padding: 0 var(--ws-xlg);

      @extend %flexColumn;
      gap: var(--ws-lg);

      // Media-Querie for Tab-por
      @include respond(tab-por) {
        padding: 0 var(--ws-md) var(--ws-lg);
      }

      // Media-Querie for Phone
      @include respond(phone) {
        padding: var(--ws-lg);
      }
    }

    &::before {
      // Media-Querie for Phone
      @include respond(phone) {
        content: '';
        width: 10%;
        height: 3px;
        border-radius: 10rem;
        background-color: var(--color-primary);
        display: block;

        position: absolute;
        top: var(--ws-sm);
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}

// SEARCH BOX
.weather {
  &__search {
    padding: 0 0 var(--ws-lg) var(--ws-xlg);

    display: flex;
    align-items: flex-end;

    // Media-Querie for Tab-por
    @include respond(tab-por) {
      padding: 0 0 var(--ws-lg) var(--ws-lg);
    }

    // Media-Querie for Phone
    @include respond(phone) {
      // position: absolute;
      // top: 0;
      // right: 0;
      display: none;
    }

    ::-webkit-input-placeholder {
      color: var(--color-secondary);
    }

    &--box {
      color: var(--color-primary);
      padding-bottom: 1rem;
      font-size: var(--font-size-sm);
      font-family: inherit;
      border: none;
      border-bottom: 2px solid var(--color-secondary);
      background-color: transparent;
      transition: all 0.3s;

      // Media-Querie for Tab-por
      @include respond(tab-por) {
        width: 60%;
      }

      &:focus {
        border-bottom-color: var(--color-primary);
      }
    }

    &--btn {
      margin-left: auto;
      padding: var(--ws-lg);
      border: none;
      background-color: var(--color-tertiary);
      cursor: pointer;
      transition: all 0.3s;

      position: relative;

      &::before {
        content: '';
        width: 3.2rem;
        height: 3.2rem;
        mask-image: url(../img/svg/search.svg);
        mask-size: cover;
        background-color: #222;
        background-image: none;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: var(--color-secondary);
      }
    }

    &--box:focus,
    &--btn:focus {
      outline: none;
    }
  }
}

// NEIGHBOURS & DETAILS
.weather {
  &__neighbours,
  &__details {
    padding-bottom: var(--ws-lg);
    border-bottom: 2px solid var(--color-secondary);

    @extend %flexColumn;
    gap: var(--ws-md);

    // Media-Querie for Phone
    @include respond(phone) {
      padding: 0;
      border-bottom: none;
    }
  }

  // NEIGHBOUR
  // &__neighbour {
  //   cursor: pointer;
  //   transition: all 0.3s;

  //   &:hover {
  //     color: var(--color-primary);
  //   }
  // }

  &__sub-title {
    color: var(--color-primary);
    // font-size: var(--font-size-md);
    font-size: 1.8rem;
    font-weight: var(--font-weight-medium);
  }

  &__detail--container {
    display: flex;
    flex-direction: column;
    gap: var(--ws-md);
    // Media-Querie for Phone
    @include respond(phone) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__detail {
    display: flex;
    justify-content: space-between;

    // Media-Querie for Phone
    @include respond(phone) {
      flex-direction: column-reverse;
      align-items: center;
      gap: var(--ws-sm);
    }

    & span:last-child {
      color: var(--color-primary);
    }
  }
}

// --- ERROR --- //
.weather {
  &__title-error {
    padding: var(--ws-lg);
    border-radius: 12px;
    @extend %blurBackground;

    display: grid;
    place-items: center;
  }

  &__error {
    line-height: 1.2;
  }
}

// --- SPIN --- //
.spin {
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  transform-origin: center center;
  // transform: translate(-50%, -50%) rotate(135deg);
  transform: rotate(135deg);

  position: absolute;
  bottom: 2rem;
  right: 1rem;
}
.spin hr {
  width: 40%;
  height: 40%;
  margin: 0;
  border: 0;
  border-radius: 50%;
  animation: spinner 2s ease infinite;

  position: absolute;
}

.spin :first-child {
  background: #19a68c;
  animation-delay: -1.5s;
}
.spin :nth-child(2) {
  background: #f63d3a;
  animation-delay: -1s;
}
.spin :nth-child(3) {
  background: #fda543;
  animation-delay: -0.5s;
}
.spin :last-child {
  background: #193b48;
}

@keyframes spinner {
  0%,
  100% {
    transform: translateX(200%);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateY(0);
  }
}

.hidden {
  display: none;
  user-select: none;
}
